.App {
  width: 100%;
}
/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
animation: App-logo-spin infinite 0.5s linear;
*/
.App-logo {
  align-self: flex-start;
  padding: 25px;
}
.App-header {
  background-color: #AAA;
  color:white;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

form span.input-group-addon {
    min-width: 70px;
}
form span.input-group-addon.smaller {
     min-width: 45px;
}

.searchblock {
    margin-top: 40px;
}